<div class="login-container">
  <form [formGroup]="form" autocomplete="off" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline">
      <mat-label>Username</mat-label>
      <input matInput type="text" formControlName="username" (input)="updateErrorMessage('username')" />
      @if (form.controls['username'].invalid) {
      <mat-error>{{ errorMessage.username() }}</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password" (input)="updateErrorMessage('password')" />
      @if (form.controls['password'].invalid) {
      <mat-error>{{ errorMessage.password() }}</mat-error>
      }
    </mat-form-field>

    @if (mode === 'register') {
    <mat-form-field appearance="outline">
      <mat-label>Confirm Password</mat-label>
      <input matInput type="password" formControlName="confirm_password"
        (input)="updateErrorMessage('confirm_password')" />
      @if (form.controls['confirm_password']?.invalid) {
      <mat-error>{{ errorMessage.confirm_password()}}</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Display Name</mat-label>
      <input matInput type="text" formControlName="display_name" (input)="updateErrorMessage('display_name')" />
      @if (form.controls['display_name']?.invalid) {
      <mat-error>{{ errorMessage.display_name() }}</mat-error>
      }
    </mat-form-field>
    }

    <button mat-raised-button class="blue" [disabled]="form.invalid" type="submit">
      @if (mode === 'login') {
      <span>Login</span>
      } @else {
      <span>Register</span>
      }

    </button>
  </form>
  <div class="login-spacer">or</div>
  @if (mode === 'login') {
  <div class="toggle">New User? Register <span (click)="toggleMode()">Sign Up</span></div>
  }
  @if(mode !== 'login') {
  <div class="toggle">Already have an account? <span (click)="toggleMode()">Login</span></div>
  }
</div>