.typewriter {
    padding: 2px;
    width: 24ch;
    animation: typing 3s steps(32), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid;
    font-family: monospace;
    transition: 0.5s;
}

.typewriter:hover {
    color: white;
    transform: scale(1.05);
    transition: 0.5s;
}

@keyframes typing {
    from {
        width: 0
    }

    50% {
        color: white;
    }
}

@keyframes blink {
    50% {
        border-color: white
    }
}


.show-more-button:hover {
    cursor: pointer;
    color: rgb(134, 134, 134);
    transform: scale(1.05);
    transition: 0.2s;
}

.autoshow {
    animation: autoShowAnimation both;
    animation-timeline: view();
}

@keyframes autoShowAnimation {
    from {
        transform: translateY(50px) scale(0);
    }

    to {
        transform: translateY(0px) scale(1.7);
    }
}