@import "tailwindcss";

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

/* Custom Snackbar Styles */
.snack-bar-error {
  --mdc-snackbar-container-color: #ef4444 !important;
  --mdc-snackbar-supporting-text-color: white !important;
  --mat-snack-bar-button-color: white !important;
}

.snack-bar-success {
  --mdc-snackbar-container-color: #10b981 !important;
  --mdc-snackbar-supporting-text-color: white !important;
  --mat-snack-bar-button-color: white !important;
}