/* Floating button for .new-mission at bottom right */
.new-mission {
    position: fixed;
    // display: none;
    right: 2.5rem;
    bottom: 2.5rem;
    z-index: 100;
    box-shadow: 0 4px 16px rgba(25, 118, 210, 0.15);
    background: transparent;
}

.new-mission button {
    font-size: 1.1rem;
    font-weight: 500;
    box-shadow: 0 2px 8px rgba(25, 118, 210, 0.10);
    background: #000000;
    color: #fff;
    transition: background 0.2s, box-shadow 0.2s;
}

.new-mission button:hover {
    background: #676767;
    box-shadow: 0 6px 20px rgba(25, 118, 210, 0.18);
}
