
.my-navbar {
    display: flex;
    align-content: center;
    color: #b3b3b3;


    button {
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border: none;
        background: none;
    }

    .menu-button:hover{
        color: white;
        transform: scale(1.05);
        transition: 0.5s;
    }

    

    .home-btn {
        cursor: pointer;
        color: white;

    }



    .avatar {
        margin-right: 5px;
        width: 35px;
        height:35px;
        border-radius: 50%;
        object-fit: cover;
    }
}